<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>María Eugenia Szwedowski Bermúdez</title>
		<meta name="description" content="María Eugenia Szwedowski Bermúdez - CV / Resume / Sitio Personal" />
		<meta name="keywords" content="curriculum, cv, electricista, electricista en uruguay, maria eugenia szwedowski, electricistas, diseñador, plc, automatismos, rematador público, corredor inmobiliario, operador inmobiliario" />
		<meta name="author" content="María Eugenia Szwedowski"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		
		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
				
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
				
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
						  <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
							 data-target="#navbar_collapse">
							 <span class="mask"></span>
							 <span class="btn-label">
								<span class="pe-7s-menu"></span>
							 </span>
						  </button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>Información</span></li>
								<li><a data-scroll href="#services_sec"></a><span>Servicios</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>Habilidades</span></li>
								<li><a data-scroll href="#work_sec"></a><span>Trabajos</span></li>
								<li><a data-scroll href="#edu_sec"></a><span>Educación</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>Experiencia</span></li>
								<li><a data-scroll href="#client_sec"></a><span>Idiomas</span></li>
								<li><a data-scroll href="#achivement_sec"></a><span>Entornos</span></li>
								<li><a data-scroll href="#contact_sec"></a><span>Contacto</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="https://maria-eugenia-szwedowski.github.io">
									<span>
										María Eugenia Szwedowski
									</span>
								</a>	
							</div>	
							
							<div class="float-right social-download-wrap">
								<a href="https://drive.google.com/file/d/1Qaj-bwD0KKwdEsPOC8-GHCXwIsKjyf79/view?usp=sharing" class="btn btn-default float-left">
									<span class="mask"></span>
									<span class="btn-label">
										<b>DESCARGAR CURRÍCULUM</b>
										<span class="icon pe-7s-download"></span>
									</span>
								</a>
							</div>	

							<div class="float-right social-download-wrap">
								<a href="https://maria-eugenia-szwedowski.github.io" class="btn btn-default float-left">
									<span class="mask"></span>
									<span class="btn-label">
										<b>Inglés</b>
										<span class="icon pe-7s-world"></span>
									</span>
								</a>
							</div>	



						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								<span id="typed"></span>
							</h1>
							<h6>
								Presentación
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Mis capacitaciones técnicas se han bifurcado en dos áreas, distintas pero complementarias: a- Comercial, b- Eléctrica. En cuanto al área Comercial adquirí capacidades técnicas de negociación y gestión para la compraventa de bienes y servicios; a posteriori me desarrollé en el área eléctrica la cual por vocación he decidido ahondar en conocimientos, por ello, actualmente me encuentro estudiando Técnico Electromecánico en Mantenimiento Industrial con el primer año ya finalizado. 
							</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Soy  <a class="goto-social" href="#" target="_blank">Electricista</a> & <a href="#" class="goto-social" target="_blank">Programador CNC</a>. Vea mis experiencias en <a href="https://www.instagram.com/peak.power.electricistas/" class="goto-social" target="_blank">Instagram</a> & <a class="goto-social" href="https://www.facebook.com/peakpowerelectricos" target="_blank">Facebook</a>.

							</p>
							<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive" src="img/signature.png" alt="signature"/>
							</div>
						</section>
						<!--/Introduction Sec-->
						
						<hr class="separater-hr"/>
						
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>Lo que hago</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-graph3"></span>
									<span class="key-fact">
										Análisis de Proyectos		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-browser"></span>
									<span class="key-fact">
										Programación PLC y CNC		 
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-tools"></span>
									<span class="key-fact">
										Instalaciones Eléctricas		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-note2"></span>
									<span class="key-fact">
										Gestiones
									</span>
								</div>
							</div>	
						</section>
						<!--/WhatWeDo Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>Habilidades Técnicas</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Técnicas adquiridas: plano de planta (eléctrico de luces, eléctrico tcp monofásico y eléctrico tcp trifásico), aplicación de esquema unifilar con norma UNIT, planos de acometidas con tres cortes, cálculo de sección trifásica-monofásica (caída de tensión, calentamiento admisible, resistencia mecánica), cálculo de luces con aplicación de técnicas de luminotecnia actualizado a sistema led, cálculo de corrección de fuerza motriz, cálculo de censo de carga, cálculo de tierra y plano del mismo, sistema de distribución: IT, TT, TN-S, TNS, TNC, MRL. Derivaciones y alturas según norma BT Ute. Conexiones eléctricas con esquemas eléctricos, unifilares y funcionales para los siguientes interruptores: unipolares, bipolares, de dos secciones, combinación, mixto combinación y cruce. Cálculo de transformadores.</p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">CNC </span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="97">
													<strong><i>97</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">OFIMATICA</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="98">
													<strong><i>98</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">ELÉCTRICAS</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="100">
													<strong><i>100</i>%</strong>
												</span>	
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">PLC </span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="90">
													<strong><i>90</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">AUTO CAD</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="86">
													<strong><i>86</i>%</strong>
												</span>
											</div>
										</div>	
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">ARDUINO</span>
									<div class="progress-bar-graph"> 
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="70">
														<strong><i>70</i>%</strong>
													</span>
												</div>	
											</div>
										</div>	
									</div>
								</div>
								<div class="clearfix"></div>
							</div>	
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Work Sec-->
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad">
							<h6>TRABAJOS</h6>
						
							<div id="portfolio-wrap" class="padding-sec-lg">
            					<ul id="portfolio" class="auto-construct  project-gallery" data-col="2">
									<li  class="item"   data-src="img/mock1.jpg" data-sub-html="<h6>ESQUEMAS UNIFILARES</h6><p>Creaciones en AutoCAD 2D.</p>" >
										<a href="">
										<img class="img-responsive" src="img/mock1.jpg"  alt="Image description" />
										<span class="hover-cap">ELECTRICO</span>
										</a>
									</li>
									<li class="item" data-src="https://www.youtube.com/watch?v=mv13Y1DEKzM" data-poster="img/mock2.jpg"  data-sub-html="<h6>AUTOMATISMOS</h6><p>Creación de programas en PLC.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock2.jpg"  alt="Image description" />
										<span class="hover-cap">ELECTRICO</span>
										</a>
									</li>
									<li class="item" data-src="img/mock4.jpg" data-sub-html="<h6>ESQUEMAS EN CAD SIMU</h6><p>Automatizaciones mecánicas</p>">
										<a href="">
										<img class="img-responsive" src="img/mock4.jpg"  alt="Image description" />
										<span class="hover-cap">ELECTRICO</span>
										</a>
									</li>
									<li class="item" data-src="https://www.youtube.com/watch?v=hm2FevBZ-Yk" data-poster="img/mock3.jpg" data-sub-html="<h6>AUTOMATISMOS</h6><p>Diseños interactivos y accesibles.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock3.jpg"  alt="Image description" />
										<span class="hover-cap">ELECTRICO</span>
										</a>
									</li>
									
									<li class="item" data-src="img/mock5.jpg" data-sub-html="<h6>ESQUEMA DE CONTACTORES </h6><p>Diseños y montajes mecánicos.</p>">
										<a href="">
										<img class="img-responsive" src="img/mock5.jpg"  alt="Image description" />	
										<span class="hover-cap">ELECTRICO</span>
										</a>
									</li>
									<li class="item" data-html="#video1" data-poster="img/mock6.jpg" data-sub-html="<h6>PLC</h6><p>Millenium y LOGO .</p>">
										<a href="">
										<img class="img-responsive" src="img/mock6.jpg"  alt="Image description" />
										<span class="hover-cap">ELECTRICO</span>
										</a>
									</li>
									
								</ul>
								<!-- Hidden video div -->
								<div style="display:none;" id="video1">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="videos/video1.mp4" type="video/webm">
										<source src="videos/video1.webm" type="video/webm">
										 Your browser does not support HTML5 video.
									</video>
								</div>
							</div>
						</section>
						<!--/Work Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Qualfication Sec-->
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>EDUCACIÓN</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								Mis capacitaciones técnicas se han bifurcado en dos áreas, distintas pero complementarias: a- Comercial, b- Eléctrica. 
							</p>

							
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>1</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2021-2020</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Escuela Técnica de Arroyo Seco</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Técnico en Mantenimiento Industrial con PLC
										</span>
									</div>
								</div>



								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>2</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2020-2020</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">UNIT , Escuela Superior, ex UTU</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Operario CNC, Código G (FANUC/FAGOR)
										</span>
									</div>
								</div>



								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>3</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2019-2017</span>
									</div>
									<div class="col-sm-5">Escuela Técnica de la Construcción, ex UTU
										<span class="insti vertical-align-pad"></span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Técnico Electricista.
										</span>
									</div>
								</div>


								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>4</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2017-2017</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Escuela Técnica de la Construcción, ex UTU</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Carpintero.
										</span>
									</div>
								</div>

								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>5</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2012-2009</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Escuela Técnica de Comercio, ex UTU</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Técnico Operador Inmobiliario y Técnico Rematador Público.
										</span>
									</div>
								</div>

								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>6</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2016-2016</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Ametrano y Asociados</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Web development con orientación JAVA PHP MySQL .
										</span>
									</div>
								</div>

								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>7</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2012-2011</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">BIOS Instituto </span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Diseño Web con entornos de Adobe
.
										</span>
									</div>
								</div>

								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>8</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2010-2009</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">'BIOS Instituto'</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Administrativo Contable.
										</span>
									</div>
								</div>

								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>9</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">20XX-2010</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Universidad - Facultad de Derecho, UDELAR </span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Derecho.
.
										</span>
									</div>
								</div>


								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>10</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2009-2007</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Escuela de Comercio, ex UTU</span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Auxiliar Administrativo Contable Calificado.
										</span>
									</div>
								</div>

								<div class="qualfication wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>11</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">2006-2008</span>
									</div>
									<div class="col-sm-5">
										<span class="insti vertical-align-pad">Liceo Bauzá  </span>
									</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Bachiller en Derecho, plan 1976.
.
										</span>
									</div>
								</div>




								
							</div>
						</section>	
						<!--/Qualfication Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>EXPERIENCIA</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Presente - 2013</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Diseño y Desarrollo Web</span>
													<span class="job-loc">Actualidad Freelance
	</span>
													<p class="job-summary p-small">Gestión, activación y maquetación de CMS tales como wordpress woocommerce y prestashop. Diseño de logos interactivos para firmas digitales. Asesoramiento en procesos de control para gestión de stock. Ofrezco actualmente la implementación de un programa en php mysql de control de stock y facturación con actualización de stock, se puede adaptar a otras necesidades.</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span> Nov 2015 — Ago 2007</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Agente Inmobiliario - LALK Negocios Inmobiliarios.</span>
													<span class="job-loc">Uruguay
	</span>
													<p class="job-summary p-small">Tareas desempeñadas: captación, exhibición de propiedades, tasación, gestión arrendamientos, negociación en compraventa, promoción y asesoramiento. Creación de marca y logo comercial, diseño de folletería y cartelería, gestión de sitio web y de distintos portales contratados. Realización de declaraciones juradas, estados de situación patrimonial, cálculos de retorno de inversión, formularios DGI / BPS. Remates.</p>
												</div>
											</div>	
										</div>
									</div>	
								</div>
								




							</div>
						</section>	
						<!--/Experience Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Client Sec-->
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>IDIOMAS</h6>
							<div class="client-carousel">
								<img src="img/client1.png" alt="client">
								<img src="img/client2.png" alt="client">
								<img src="img/client3.png" alt="client">
								<img src="img/client4.png" alt="client">
								<img src="img/client5.png" alt="client">
								<img src="img/client2.png" alt="client">
							</div>
						</section>
						<!--/Client Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Achivement Sec-->
						<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>ENTORNOS DE DESARROLLO</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">Alguno de los entornos de desarrollo utilizados son:.</p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
											<span class="dash-pointer">-</span>
											<span class="achive-pts">AutoCAD</span>
											</li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">MasterCAM</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">WinUnisoft</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Millenium</span></li>
										</ul>
									</li>
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">LogoSOFT</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">MSOffice - GoogleServices</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".4s"><span class="dash-pointer">-</span><span class="achive-pts">Centro Mecanizado Fanuc/Fagor</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s" data-wow-delay=".6s"><span class="dash-pointer">-</span><span class="achive-pts">Instalaciones y Activaciones></li>
										</ul>
									</li>
								</ul>
							</div>	
						</section>
						<!--/Achivement Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>CONTACTO</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Estimado <span  data-ng-bind="formData.inputName||'Sr./Sra.'"></span>, contácteme y le ayudaré o gestionaré su proyecto.</h3>
								<!--
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>	
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>-->
							</div>
							
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">Envíame un mensaje a: <a href="mailto:peak.power.electricistas@gmail.com">peak.power.electricistas@gmail.com</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Disponible.</span>
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="https://www.facebook.com/peakpowerelectricos" class="social-icon">
													<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/peak.power.electricistas/" class="social-icon">
													<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/peak.power.electricistas/" class="social-icon">
													<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/peak.power.electricistas/" class="social-icon">
													<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
											<span data-hover="top">
												SUBIR
											</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">María Eugenia Szwedowski.</b> 2020 <b></b></p>
									</div>
								</div>	
							</div>	
						</footer>
						<!--/Footer-->
						
					</div>	
					<!--/Main Content-->
					
				</div>
			</div>	
		</div>
		<!-- /Container -->
				
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
